/*General layout*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Helvetica, "Century Gothic", sans-serif;
}

/*Banner; navigation & logo*/
header {
    background-color: #003D4C;
    min-height: 120px;
    min-width: 300px; 
}

#logo {    
    width: 15rem;
    margin: 1rem;
    padding-top: 1.5rem;
}

/*Nav container | uses flexbox & min-height for responsive action*/
.navbar {
    min-height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;    
}

/*ul | li items to display inline for 600px+ view*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

/*li items | remove bullet points*/
.nav-item {
    list-style: none;
}

/*a items | change color on hover & border hover*/
.nav-link {
    transition: 0.7 ease;
    padding: 1rem;
    color: #fbfbed;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-link:hover {
    border: 1px solid #fbfbed;
    overflow: hidden;
    margin: -1px;
    color: #a5b3bf;
}

/*hamburger div | bars don't display in 600px+ & cursor is pointer on hover*/
.hamburger {
    display: none;
    cursor: pointer;
}

/*Hamburger bars*/
.bar {
    /*The bars must stack so display block*/
    display: block;
    /*Bar width*/
    width: 40px;
    /*Bar height*/
    height: 1px;
    /*So there is a small gap between the bars*/
    margin: 11px auto;
    /*Bars animation*/
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/*Navigation media query*/
@media(max-width: 1050px) {
    .hamburger {
        display: block;
    }

    /*disappears 2nd bar*/
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    /*Animates 1st bar*/
    .hamburger.active .bar:nth-child(1) {
        transform:translateY(12px) rotate(45deg);
    }

    /*Animates 3rd bar*/
    .hamburger.active .bar:nth-child(3) {
        transform:translateY(-12px) rotate(-45deg);
    }

    /*Nav-menu collapse settings so only hamburger shows in small screen*/
    .nav-menu {
        /*Position: fixed ensures that when menu appears it stays in place 
        on the screen even when user scrolls, until a link is clicked on*/
        position: fixed;        
        /*To hide fullscreen nav links*/
        right: -110%;
        top: 10px;
        gap: 0;
        flex-direction: column;
        background-color: #024d60;        
        width: 92%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        padding: 20px;
        margin: 16px 0;
        font-size: 1.75rem;
    }

    .nav-menu.active {
        right: 0;
    }
}

/*introB section*/
#introB {
    background-color: #003D4C;
    color: #fff;
    margin: auto;
}

.itemC {
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0.5rem 5rem 0.5rem;
    font-size: 1.2rem;
}

/*case studies*/
.caseContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*Wizarding World section*/
#wizWorld {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: #506d85;
    color: #fbfbed;
    text-align: center;    
}

/*4Finance section*/
#Finance {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
    background-color: #a5b3bf;
    color: #323642;    
    text-align: center;
}

/*M&S section*/
#mands {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #a5b3bf;
    color: #323642;      
    text-align: center;
}

#mandsGraphLightBg {
    display: block;
    margin: auto;
    visibility: hidden;
}

/*Department for International Development section*/
#did {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
    background-color: #506d85;
    color: #fbfbed;
    text-align: center;
    padding: 1rem; 
}

#didGraphDarkBg {
    display: block;
    margin: auto;
    visibility: hidden;
}

/*GSMA section*/
#gsma {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: #506d85;
    color: #fbfbed;
    text-align: center;
}

#figures {
    padding: 0.1rem 0 0.5rem 0;
}

.itemB1 {
    padding: 0.01rem;
}
/*vacant section*/
#caseStudy12 {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
    background-color: #a5b3bf;
    color: #323642;      
    text-align: center;
}

 /*Case study general styles*/
 .itemB {
    padding: 1rem;
 }

img {
    max-width: 100%;
    height: auto;
}

/*Media query for Our Work block display*/
@media(max-width: 1050px) {
    .caseContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 0.5fr);
    }

    #wizWorld {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #Finance {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #mands {    
        background-color: #506d85;
        color: #fbfbed;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #mandsGraphLightBg {
        visibility: visible;
    }

    #mandsGraph {
        display: none;
    }

    #did {
        background-color: #a5b3bf;
        color: #323642;  
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #didGraphDarkBg {
        visibility: visible;
    }

    #didGraph {
        display: none;
    }

    #gsma {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    #caseStudy12 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
}

/*'advice' div*/
#advice {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
    padding: 3rem;
    background-color: #E2E2DA;
    color: #323642;
}

.btn5 {    
    background-color: #fbfbed;
    color: #05324e;
    padding: 1rem;
    line-height: 1rem;
    margin: auto;
    text-decoration: none;  
    border: 1px solid #fbfbed;
    border-radius: 3px;
}

/*Footer */
footer {
    background-color: #003D4C;
    color: #fbfbed;        
}

.footer {
    list-style: none;
}

#end, #privacy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
    padding: 1rem;
    margin: auto 0;  
}

#end a, #privacy a {
    color: #fbfbed;
}

.top {
    color: #fbfbed;
    text-decoration: none;
}














